%h2 Retirement Calculation
%br
.panel.panel-danger
  .panel-heading
    %h3.panel-title Disclaimer
  .panel-body
    This retirement calculator was created for fun and is not guaranteed to be accurate. I am not a mathematician, financial advisor, lawyer, or fortune teller.  Use this at your own risk.
    = link_to "send me feedback", "https://docs.google.com/forms/d/1RXSdOibwXhdUEeMCU9JEpQnJ9rXUIDYC6zFMutOok98/viewform?usp=send_form", target: "_blank"

- current_year = DateTime.now.year
- expected_year_of_death = @rp.year_of_birth + @rp.age_at_death
- planned_retirement_year = @rp.year_of_birth + @rp.planned_retirement_age

%table.table.table-bordered
  %tr
    %td Age
    %td= DateTime.now.year - @rp.year_of_birth
  %tr
    %td Savings
    %td= to_currency @rp.current_savings
  %tr
    %td Interest
    %td= to_percentage @rp.expected_average_rate_of_return_on_savings
  %tr
    %td Retiring
    %td= planned_retirement_year
  %tr
    %td Retirement Age
    %td= @rp.planned_retirement_age
  %tr
    %td Retirement Income
    %td= to_currency @rp.expected_income_once_retired
  %tr
    %td Inflation rate
    %td= to_percentage @rp.expected_inflation_rate


- current_annual_expenditures = @rp.current_annual_expenditures
- expected_percentage_increase_in_expenditures = @rp.expected_percentage_increase_in_expenditures
- current_annual_income = @rp.current_annual_income
- current_savings = @rp.current_savings
- expected_present_day_expenses_when_retired = @rp.expected_present_day_expenses_when_retired
%table.table.table-bordered.table-striped
  %tr
    %td Age
    %td Year
    %td Income
    %td Expenses
    %td Savings
  - (current_year..planned_retirement_year).each do |year|
    %tr
      %td= year - @rp.year_of_birth
      %td= year
      %td= to_currency current_annual_income
      %td= to_currency current_annual_expenditures
      %td{:class => current_savings < 0 ? "danger" : "success"}
        = to_currency current_savings

    - current_annual_expenditures = current_annual_expenditures + (current_annual_expenditures * expected_percentage_increase_in_expenditures)
    - current_annual_income = current_annual_income + (current_annual_income * @rp.expected_percentage_increase_in_income_yearly)
    - current_savings = current_savings + current_annual_income - current_annual_expenditures
    - current_savings = current_savings + (current_savings * @rp.expected_average_rate_of_return_on_savings)
    - expected_present_day_expenses_when_retired = expected_present_day_expenses_when_retired + (expected_present_day_expenses_when_retired * @rp.expected_inflation_rate)

  %tr
    %td{:colspan => 5}
      RETIRED - Your percentage of investment growth will now use your expected growth once retired.  That number should typically be smaller because you would most likey move your funds to less risky investments such as bonds.
      %br
      = "Changing interest from: #{to_percentage @rp.expected_average_rate_of_return_on_savings} to #{to_percentage @rp.expected_average_rate_of_return_on_savings_retired}"

  - (planned_retirement_year+1..expected_year_of_death).each do |year|
    - expected_present_day_expenses_when_retired = expected_present_day_expenses_when_retired + (expected_present_day_expenses_when_retired * @rp.expected_inflation_rate)
    - current_savings = current_savings + @rp.expected_income_once_retired - expected_present_day_expenses_when_retired
    - current_savings = current_savings + (current_savings * @rp.expected_average_rate_of_return_on_savings_retired)
    %tr
      %td= year - @rp.year_of_birth
      %td= year
      %td= to_currency @rp.expected_income_once_retired
      %td= to_currency expected_present_day_expenses_when_retired
      %td{:class => current_savings < 0 ? "danger" : "success"}
        = to_currency current_savings